## Tarefa 1

gerar tabelas bivariadas relacionadas com a variavel resposta (sequela [sim/nao])

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_excel('patogenese_covid.xlsx')

In [4]:
df.shape

(226, 144)

In [5]:
df.head()

,ID,grau,Idade,IMC,dias_internado,FIB-CAT,FVIII-CAT,FVW-AG-CAT,DD-CAT,AC LÚPICO(CONCLUSÃO),a-Cl-IGG-CAT,a-Cl-IGM-CAT,a-B2-IGG-CAT,a-B2-IGM-CAT,CONCLUSAO-SAAF,FVL-CAT,IL-6 1:2 (16/06/2022)pg/ml,IL-6 1:2 (final),IL-6-CAT,TNF-α 1:2 (16/06/2022)pg/ml,TNF-α 1:2 (final),TNF-α-CAT,Plaq,PLAQ-CAT,TS,HBA1c-CAT,Hb variante,TNF-A rs1800629,IL6 rs1800795,FV Leiden rs6025,FII rs1799963,MTHFR (C677T),LAUDO,grupo_classificacao,proced_ncia,data_coleta,genero,filhos,j_recebeu_transfus_o_de_sa,quantas_vezes1,grau_de_escolaridade_analfabeta,grau_de_escolaridade_fundamental_completo,grau_de_escolaridade_fundamental_incompleto,grau_de_escolaridade_medio_completo,grau_de_escolaridade_medio_incompleto,grau_de_escolaridade_superior_completo,grau_de_escolaridade_superior_incompleto,grau_de_escolaridade_outros_pos_tec,estado_civil,raca,pratica_atividade_fisica_regularmente,se_sim_qul_a_periodicidade,exame_pcr,paciente_assintom,dat_inicio_sint,dat_fim_sint,outras_pessoas_residencia_sintomas,sintomas_clinicos_ausculta_pulmonar,sintomas_clinicos_batimendo_da_asa_de_nariz,sintomas_clinicos_calafrios,sintomas_clinicos_cefaleia,sintomas_clinicos_cianose,sintomas_clinicos_coma,sintomas_clinicos_confusao_mental,sintomas_clinicos_congestao_nasal,sintomas_clinicos_conjutivite,sintomas_clinicos_convulsao,sintomas_clinicos_coriza,sintomas_clinicos_diarreia,sintomas_clinicos_falta_ar,sintomas_clinicos_dificuldade_engolir,sintomas_clinicos_dor_muscular,sintomas_clinicos_dor_na_garganta,sintomas_clinicos_dor_no_peito,sintomas_clinicos_exsudato_feringeo,sintomas_clinicos_fadiga,sintomas_clinicos_febre,sintomas_clinicos_fraqueza,sintomas_clinicos_irritabilidade,sintomas_clinicos_nausea_vomito,sintomas_clinicos_perda_olfato,sintomas_clinicos_perda_parcial_olfato,sintomas_clinicos_perda_paladar,sintomas_clinicos_perda_parcial_paladar,sintomas_clinicos_producao_escarro,sintomas_clinicos_saturacao_o2_lt_95,sintomas_clinicos_tosse,sintomas_clinicos_tontura,sintomas_clinicos_sem,sintomas_clinicos_outros,comorbidades_doenca_pulmonar_cronica,comorbidades_doenca_cardio_cronica,comorbidades_doenca_renal_cronica,comorbidades_doenca_hepatica_cronica,comorbidades_diabetes_mellitius,comorbidades_imunodeficiencia_hiv,comorbidades_tabagismo,comorbidades_neoplasia,comorbidades_avc,comorbidades_outras,comorbidades_sem,uso_de_medicamentos_nos_ultimos_10_dias,se_sim_anticoagulante_oral,se_sim_anticoncepcional,se_sim_anabolizante,se_sim_antiinflamatorio,se_sim_corticoide,se_sim_analgesico,se_sim_outros,trombose_familia,foi_vacinado_covid,quando,visitou_pronto_socorro,data_pronto_socorro,se_sim_qual_rede,ficou_internado_por_causa_covid,data_de_admissao_internado,data_de_alta,tempo_internacao,oxigenoterapia,trombose,setor_de_internacao,enoxoparina,utilizou_alguma_medicacao_em_casa,medicacoes_usadas_cloroquina,medicacoes_usadas_azitromicina,medicacoes_usadas_clavulin,medicacoes_usadas_oseltamivir,medicacoes_usadas_solumedrol,medicacoes_usadas_tosiluzumabe,medicacoes_usadas_ivermectina,medicacoes_usadas_dexametasona,medicacoes_usadas_outras,apresenta_alguma_sequela,se_sim_qual_quais_2___0,se_sim_qual_quais_2___1,se_sim_qual_quais_2___2,se_sim_qual_quais_2___3,se_sim_qual_quais_2___4,se_sim_qual_quais_2___5,se_sim_qual_quais_2___6,se_sim_qual_quais_2___7,se_sim_qual_quais_2___8,se_sim_qual_quais_2___9
0,1,GRAVE,56,29.6,2.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,94.992,189.984,HIGH,24.400,30,Normal,203,Normal,B+,Normoglicemia,AA,G/G,G/G,C/C,G/G,C/C,SIM,2,0.0,2020-07-30T00:00:00Z,1,2.0,0,NaN,0,0,0,0,0,0,0,1,1,2,0,NaN,1,0.0,2020-05-20T00:00:00Z,2020-06-12T00:00:00Z,0,0,1,1,1,0,0,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,NaN,0,NaN,1.0,2020-05-20T00:00:00Z,0.0,1,2020-05-27 00:00:00,2020-05-29 00:00:00,2.0,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,1,0,0,0.0,0,0,0,0,0,0,0,0,0,0
1,2,GRAVE,68,28.4,5.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,1.844,3,Normal,19.912,30,Normal,198,Normal,AB+,Pré-diabetes,AS,G/G,G/G,C/C,G/G,C/C,SIM,2,0.0,2020-08-25T00:00:00Z,0,NaN,0,NaN,0,0,1,0,0,0,0,0,4,2,1,1.0,1,0.0,2020-06-01T00:00:00Z,2020-06-15T00:00:00Z,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1.0,0,NaN,1.0,2020-06-10T00:00:00Z,0.0,1,2020-06-10T00:00:00Z,2020-06-15T00:00:00Z,NaN,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0
2,3,GRAVE,68,23.8,12.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,POSITIVO,POSITIVO,Negativo,1.114,3,Normal,17.407,30,Normal,226,Normal,O+,Pré-diabetes,AA,G/G,G/G,C/C,G/G,NaN,SIM,1,2.0,2020-08-22T00:00:00Z,0,NaN,0,NaN,0,1,0,0,0,0,0,0,1,0,0,NaN,1,0.0,2020-02-12T00:00:00Z,2020-03-15T00:00:00Z,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1.0,0,NaN,1.0,2020-02-17T00:00:00Z,0.0,1,2020-02-17T00:00:00Z,2020-02-29T00:00:00Z,NaN,2.0,0.0,1.0,1.0,1,0,0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0
3,4,GRAVE,32,36.0,8.0,HIGH,HIGH,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,1.329,3,Normal,19.932,30,Normal,333,Normal,A+,Diabetes,AA,A/G,G/G,C/C,G/G,C/T,SIM,2,0.0,2020-07-20T00:00:00Z,0,NaN,0,NaN,0,0,0,0,0,0,1,0,0,4,1,2.0,1,0.0,2020-06-01T00:00:00Z,2020-06-19T00:00:00Z,1,0,1,1,1,1,0,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,NaN,0,NaN,1.0,2020-06-11T00:00:00Z,0.0,1,2020-06-11T00:00:00Z,2020-06-19T00:00:00Z,NaN,2.0,0.0,0.0,1.0,1,0,1,0,0,0,0,1,1,1,1.0,1,0,0,0,0,0,0,0,1,0
4,5,GRAVE,63,27.4,9.0,HIGH,HIGH,HIGH,HIGH,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,POSITIVO,629,3,Normal,1.689,30,Normal,242,Normal,AB+,Pré-diabetes,AA,G/G,G/G,C/C,G/G,C/T,SIM,2,0.0,2020-09-03T00:00:00Z,0,NaN,0,NaN,0,0,0,0,0,1,0,0,1,0,0,NaN,1,0.0,2020-06-17T00:00:00Z,2020-07-06T00:00:00Z,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1.0,0,NaN,1.0,2020-06-27T00:00:00Z,0.0,1,2020-06-27T00:00:00Z,2020-07-06T00:00:00Z,NaN,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,1,0,0,1.0,1,0,0,0,0,0,0,0,0,0

In [6]:
df['grau'] = pd.Categorical(df['grau'], categories = ['LEVE', 'MED', 'GRAVE'])

In [26]:
from scipy.stats import chi2_contingency



def bivariada_sequela(coluna):
    # display(df.groupby(coluna)['apresenta_alguma_sequela'].value_counts(normalize=True).unstack().T)
    display(df.groupby('apresenta_alguma_sequela')[coluna].value_counts().unstack().fillna(0))
    display(df.groupby(coluna)['apresenta_alguma_sequela'].value_counts(normalize=True).unstack().fillna(0).T)
    # display(chi2_contingency(df.groupby('apresenta_alguma_sequela')[coluna].value_counts().unstack()))

# bivariada_sequela('grau')

In [27]:
categoricas = [c for c in  df.select_dtypes(include='object').columns.to_list() if 'dat' not in c and 'quando' not in c]

drop_this = ['IL-6 1:2 (16/06/2022)pg/ml', 'IL-6 1:2 (final)', 'TNF-α 1:2 (final)', '']

In [28]:
df.groupby("apresenta_alguma_sequela")['FVIII-CAT'].value_counts().unstack().fillna(0)

FVIII-CAT                 HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                       22.0  0.0    36.0
1.0                       79.0  1.0    87.0

In [19]:
columns_to_remove = ['ID']
for c in categoricas:
    
    print("*" * 50)
    print(c)
    bivariada_sequela(c)

**************************************************
FIB-CAT

FIB-CAT                   HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                         12    1      45
1.0                         40    4     123

FIB-CAT                       HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                       0.230769  0.2  0.267857
1.0                       0.769231  0.8  0.732143

**************************************************
FVIII-CAT

FVIII-CAT                 HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                       22.0  NaN    36.0
1.0                       79.0  1.0    87.0

FVIII-CAT                     HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                       0.217822  NaN  0.292683
1.0                       0.782178  1.0  0.707317

**************************************************
FVW-AG-CAT

FVW-AG-CAT                HIGH  Normal
apresenta_alguma_sequela
0.0                         17      41
1.0                         59     108

FVW-AG-CAT                    HIGH    Normal
apresenta_alguma_sequela
0.0                       0.223684  0.275168
1.0                       0.776316  0.724832

**************************************************
DD-CAT

DD-CAT                    HIGH  Normal
apresenta_alguma_sequela
0.0                          6      52
1.0                         34     133

DD-CAT                    HIGH    Normal
apresenta_alguma_sequela
0.0                       0.15  0.281081
1.0                       0.85  0.718919

**************************************************
AC LÚPICO(CONCLUSÃO)

AC LÚPICO(CONCLUSÃO)      AUSENTE  PRESENTE
apresenta_alguma_sequela
0.0                            54         4
1.0                           144        23

AC LÚPICO(CONCLUSÃO)       AUSENTE  PRESENTE
apresenta_alguma_sequela
0.0                       0.272727  0.148148
1.0                       0.727273  0.851852

**************************************************
a-Cl-IGG-CAT

a-Cl-IGG-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            162         5

a-Cl-IGG-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.260274  0.166667
1.0                       0.739726  0.833333

**************************************************
a-Cl-IGM-CAT

a-Cl-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            164         3

a-Cl-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.257919      0.25
1.0                       0.742081      0.75

**************************************************
a-B2-IGG-CAT

a-B2-IGG-CAT              IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0      57.0       NaN
1.0                       2.0     162.0       3.0

a-B2-IGG-CAT                   IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.333333  0.260274       NaN
1.0                       0.666667  0.739726       1.0

**************************************************
a-B2-IGM-CAT

a-B2-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             56         2
1.0                            162         5

a-B2-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.256881  0.285714
1.0                       0.743119  0.714286

**************************************************
CONCLUSAO-SAAF

CONCLUSAO-SAAF            IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0      51.0       6.0
1.0                       NaN     135.0      32.0

CONCLUSAO-SAAF            IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0  0.274194  0.157895
1.0                       NaN  0.725806  0.842105

**************************************************
FVL-CAT

FVL-CAT                   Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            163         4

FVL-CAT                   Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.259091       0.2
1.0                       0.740909       0.8

**************************************************
IL-6 1:2 (16/06/2022)pg/ml

IL-6 1:2 (16/06/2022)pg/ml,1.086,0.23,1.072,329,35.222,70.101,83,92.244,94.992,111.7,117,207.812,233,259,308.394,443,487,582,669,675,701,713,737,742,789,812,845,20.488,18.052,16.464,12.78,1.114,1.172,1.193,1.229,1.252,1.254,1.278,1.282,1.322,1.331,1.356,1.627,1.844,2.067,2.257,2.528,2.673,2.945,3.417,4.759,4.917,8,10.078,872,877,928,562,879,1.246,823,125.973,91,101.21,104.02,111.198,111.669,111.765,123.403,124.879,125.82,135.013,133.59,79,138.042,141.475,148.2,152,152.903,153.436,155.595,168,171.327,187.934,86.654,74,75.146,195.379,10.831,11.223,11.934,12.001,14.874,19.568,21,23.265,23.599,24.952,27.842,29.802,30.091,30.295,30.298,33.196,35.095,35.14,36.038,43.779,46.16,47.953,53.967,191.305,208.161,195.759,615,629,636,648,666,703,704,721,777,786,797,803.69,807,809,826,834,847,851,931,946,962,983,998,"1,312,365",621,601,204.497,584,9.241,213.199,226,229.375,247.244,255,258,277,286,287,289,301,353,358.621,365.524,369.917,429.746,463,488,504,532,572,575,9.718,8.351,1.714,1.838,2.073,2.217,2.375,2.538,2.539,2.868,3.483,3.55,3.61,3.685,3.799,3.808,4.225,5.633,5.763,5.785,6.24,6.733,6.932,7.586,7.791,7.982,1.73,1.352,0.03,1.348,0.05,0.24,0.36,0.62,0.71,0.84,1.027,1.028,1.071,1.079,1.117,1.12,1.131,1.14,1.15,1.208,1.211,1.256,1.268,1.302,1.32,1.329,"1,338,394"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,2.0,2.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

IL-6 1:2 (16/06/2022)pg/ml,0.03,0.05,0.23,0.24,0.36,0.62,0.71,0.84,1.027,1.028,1.071,1.072,1.079,1.086,1.114,1.117,1.12,1.131,1.14,1.15,1.172,1.193,1.208,1.211,1.229,1.246,1.252,1.254,1.256,1.268,1.278,1.282,1.302,1.32,1.322,1.329,1.331,1.348,1.352,1.356,1.627,1.714,1.73,1.838,1.844,2.067,2.073,2.217,2.257,2.375,2.528,2.538,2.539,2.673,2.868,2.945,3.417,3.483,3.55,3.61,3.685,3.799,3.808,4.225,4.759,4.917,5.633,5.763,5.785,6.24,6.733,6.932,7.586,7.791,7.982,8,8.351,9.241,9.718,10.078,10.831,11.223,11.934,12.001,12.78,14.874,16.464,18.052,19.568,20.488,21,23.265,23.599,24.952,27.842,29.802,30.091,30.295,30.298,33.196,35.095,35.14,35.222,36.038,43.779,46.16,47.953,53.967,70.101,74,75.146,79,83,86.654,91,92.244,94.992,101.21,104.02,111.198,111.669,111.7,111.765,117,123.403,124.879,125.82,125.973,133.59,135.013,138.042,141.475,148.2,152,152.903,153.436,155.595,168,171.327,187.934,191.305,195.379,195.759,204.497,207.812,208.161,213.199,226,229.375,233,247.244,255,258,259,277,286,287,289,301,308.394,329,353,358.621,365.524,369.917,429.746,443,463,487,488,504,532,562,572,575,582,584,601,615,621,629,636,648,666,669,675,701,703,704,713,721,737,742,777,786,789,797,803.69,807,809,812,823,826,834,845,847,851,872,877,879,928,931,946,962,983,998,"1,312,365","1,338,394"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,0.5,NaN,NaN,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,0.5,1.0,1.0,NaN,NaN,1.0,1.0,1.0,NaN,NaN,1.0,1.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0,NaN,NaN,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0

**************************************************
IL-6 1:2 (final)

IL-6 1:2 (final),3,5.89,184.488,616.788,415.624,223.4,189.984,140.202,70.444,40.976,36.104,32.928,25.56,20.156,9.834,9.518,6.834,173.308,251.946,251.64,249.758,246.806,223.53,223.338,222.396,208.04,202.42,150.292,270.026,107.934,95.906,92.32,87.558,72.076,70.28,70.19,66.392,60.596,60.59,267.18,276.084,59.604,416.322,2624.73,1607.38,859.492,739.834,731.048,717.242,494.488,458.75,426.398,408.994,282.95,391.518,390.758,382.61,375.868,342.654,311.19,306.872,305.806,296.4,60.182,55.684,7.22,7.1,6.966,5.736,5.078,7.598,7.37,7.616,49.904,18.482,47.198,46.53,39.136,29.748,24.002,23.868,22.446,21.662,19.436,16.702,8.45,15.964,15.582,15.172,13.864,13.466,12.48,11.57,11.526,11.266,"2,676,788"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,42.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

IL-6 1:2 (final),3,5.078,5.736,5.89,6.834,6.966,7.1,7.22,7.37,7.598,7.616,8.45,9.518,9.834,11.266,11.526,11.57,12.48,13.466,13.864,15.172,15.582,15.964,16.702,18.482,19.436,20.156,21.662,22.446,23.868,24.002,25.56,29.748,32.928,36.104,39.136,40.976,46.53,47.198,49.904,55.684,59.604,60.182,60.59,60.596,66.392,70.19,70.28,70.444,72.076,87.558,92.32,95.906,107.934,140.202,150.292,173.308,184.488,189.984,202.42,208.04,222.396,223.338,223.4,223.53,246.806,249.758,251.64,251.946,267.18,270.026,276.084,282.95,296.4,305.806,306.872,311.19,342.654,375.868,382.61,390.758,391.518,408.994,415.624,416.322,426.398,458.75,494.488,616.788,717.242,731.048,739.834,859.492,1607.38,2624.73,"2,676,788"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,0.323077,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,0.676923,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,NaN,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0

**************************************************
IL-6-CAT

IL-6-CAT                  HIGH  Normal
apresenta_alguma_sequela
0.0                          7      51
1.0                         52     115

IL-6-CAT                      HIGH    Normal
apresenta_alguma_sequela
0.0                       0.118644  0.307229
1.0                       0.881356  0.692771

**************************************************
TNF-α 1:2 (final)

TNF-α 1:2 (final),30,59.784,678.836,295.454,295.326,266.684,216.956,214.188,128.332,121.184,120.258,94.344,79.5,73.072,290.632,477.802,475.58,475.356,450.384,437.908,331.564,310.216,307.546,304.676,289.17,498.972,288.49,277.308,273.138,268.726,268.69,265.916,256.91,254.16,251.496,248.06,482.936,508.416,208.152,867.518,"1,468,114","1,160,904","1,088,134","1,019,848",1269.67,907.118,880.262,876.804,873.31,850.77,517.242,817.486,796.782,791.72,786.938,691.366,653.974,621.944,610.728,592.312,218.37,195.924,190.452,87.768,85.75,83.398,80.49,76.454,66.088,63.476,59.682,58.438,88.76,89.352,91.626,137.55,189.86,188.538,186.166,179.372,172.004,171.008,151.102,146.214,139.886,136.758,95.15,124.96,122.512,121.818,120.476,110.516,107.658,105.344,105.218,95.182,"1,520,232"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,45.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,84.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

TNF-α 1:2 (final),30,58.438,59.682,59.784,63.476,66.088,73.072,76.454,79.5,80.49,83.398,85.75,87.768,88.76,89.352,91.626,94.344,95.15,95.182,105.218,105.344,107.658,110.516,120.258,120.476,121.184,121.818,122.512,124.96,128.332,136.758,137.55,139.886,146.214,151.102,171.008,172.004,179.372,186.166,188.538,189.86,190.452,195.924,208.152,214.188,216.956,218.37,248.06,251.496,254.16,256.91,265.916,266.684,268.69,268.726,273.138,277.308,288.49,289.17,290.632,295.326,295.454,304.676,307.546,310.216,331.564,437.908,450.384,475.356,475.58,477.802,482.936,498.972,508.416,517.242,592.312,610.728,621.944,653.974,678.836,691.366,786.938,791.72,796.782,817.486,850.77,867.518,873.31,876.804,880.262,907.118,1269.67,"1,019,848","1,088,134","1,160,904","1,468,114","1,520,232"
apresenta_alguma_sequela,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
0.0,0.348837,NaN,NaN,1.0,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1.0,0.651163,1.0,1.0,NaN,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,NaN,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,NaN,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

**************************************************
TNF-α-CAT

TNF-α-CAT                 HIGH  Normal
apresenta_alguma_sequela
0.0                         13      45
1.0                         83      84

TNF-α-CAT                     HIGH    Normal
apresenta_alguma_sequela
0.0                       0.135417  0.348837
1.0                       0.864583  0.651163

**************************************************
PLAQ-CAT

PLAQ-CAT                  HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                        NaN  2.0    56.0
1.0                        2.0  2.0   163.0

PLAQ-CAT                  HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                        NaN  0.5  0.255708
1.0                        1.0  0.5  0.744292

**************************************************
TS

TS                          A+   A-  AB+  AB-    B+   B-    O+    O-
apresenta_alguma_sequela
0.0                       17.0  1.0  3.0  1.0   6.0  1.0  25.0   4.0
1.0                       58.0  9.0  6.0  NaN  13.0  1.0  70.0  10.0

TS,A+,A-,AB+,AB-,B+,B-,O+,O-
apresenta_alguma_sequela,,,,,,,,
0.0,0.226667,0.1,0.333333,1.0,0.315789,0.5,0.263158,0.285714
1.0,0.773333,0.9,0.666667,NaN,0.684211,0.5,0.736842,0.714286

**************************************************
HBA1c-CAT

HBA1c-CAT                 Diabetes  Normoglicemia  Pré-diabetes
apresenta_alguma_sequela
0.0                              5             34            18
1.0                             21             96            48

HBA1c-CAT                 Diabetes  Normoglicemia  Pré-diabetes
apresenta_alguma_sequela
0.0                       0.192308       0.261538      0.272727
1.0                       0.807692       0.738462      0.727273

**************************************************
Hb variante

Hb variante                  AA   AC   AS   NR
apresenta_alguma_sequela
0.0                        52.0  NaN  5.0  1.0
1.0                       160.0  1.0  4.0  1.0

Hb variante                     AA   AC        AS   NR
apresenta_alguma_sequela
0.0                       0.245283  NaN  0.555556  0.5
1.0                       0.754717  1.0  0.444444  0.5

**************************************************
TNF-A rs1800629

TNF-A rs1800629           A/A   A/G    G/G
apresenta_alguma_sequela
0.0                       2.0  13.0   43.0
1.0                       NaN  43.0  124.0

TNF-A rs1800629           A/A       A/G       G/G
apresenta_alguma_sequela
0.0                       1.0  0.232143  0.257485
1.0                       NaN  0.767857  0.742515

**************************************************
IL6 rs1800795

IL6 rs1800795             C/C  C/G  G/G
apresenta_alguma_sequela
0.0                         4   23   31
1.0                        13   78   76

IL6 rs1800795                  C/C       C/G      G/G
apresenta_alguma_sequela
0.0                       0.235294  0.227723  0.28972
1.0                       0.764706  0.772277  0.71028

**************************************************
FV Leiden rs6025

FV Leiden rs6025          C/C  C/T
apresenta_alguma_sequela
0.0                        57    1
1.0                       165    2

FV Leiden rs6025               C/C       C/T
apresenta_alguma_sequela
0.0                       0.256757  0.333333
1.0                       0.743243  0.666667

**************************************************
FII rs1799963

FII rs1799963             A/G  G/G
apresenta_alguma_sequela
0.0                         1   57
1.0                         5  162

FII rs1799963                  A/G       G/G
apresenta_alguma_sequela
0.0                       0.166667  0.260274
1.0                       0.833333  0.739726

**************************************************
MTHFR (C677T)

MTHFR (C677T)               ?   C/C   C/T  T/T
apresenta_alguma_sequela
0.0                       NaN  20.0  24.0  5.0
1.0                       1.0  68.0  52.0  9.0

MTHFR (C677T)               ?       C/C       C/T       T/T
apresenta_alguma_sequela
0.0                       NaN  0.227273  0.315789  0.357143
1.0                       1.0  0.772727  0.684211  0.642857

**************************************************
LAUDO

LAUDO                     NÃO    SIM
apresenta_alguma_sequela
0.0                       NaN   58.0
1.0                       1.0  166.0

LAUDO                     NÃO       SIM
apresenta_alguma_sequela
0.0                       NaN  0.258929
1.0                       1.0  0.741071